# set TARGET_HOST to dns/ip of proxy
# set LOGSTASH_HOST to dns/ip of logstash host

proxy:
  container_name: proxy
  restart: always
  image: deangodfree/adop-nginx:latest
  #build: ../images/docker-nginx/
  net: ${CUSTOM_NETWORK_NAME}
  ports:
    - "80:80"
    - "443:443"
  environment:
    - "constraint:tier==public"
    - "LDAP_SERVER=${LDAP_SERVER}"
    - "LDAP_USERNAME=${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    - "LDAP_PASSWORD=${LDAP_PWD}"
    - "LDAP_USER_BASE_DN=${LDAP_USER_BASE_DN},${LDAP_FULL_DOMAIN}"
    - "LDAP_GROUP_ATTRIBUTE=member"
    - "LDAP_USER_ID_ATTRIBUTE=cn"
    - "LDAP_USER_OBJECT_CLASS=inetOrgPerson"
    - "GIT_REPO=gitlab"

gitlab:
  container_name: gitlab
  restart: always
  image: gitlab/gitlab-ce:8.15.4-ce.1
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "80"
    - "443"
    - "22"
  volumes:
    - gitlab_etc:/etc/gitlab
    - gitlab_opt:/var/opt/gitlab
    - gitlab_log:/var/log/gitlab
  environment:
    GITLAB_ROOT_PASSWORD: ${PASSWORD_GITLAB}
    GITLAB_OMNIBUS_CONFIG: |
      gitlab_rails['smtp_enable'] = '${ADOP_SMTP_ENABLED}'
      gitlab_rails['smtp_address'] = 'mail-server'
      gitlab_rails['smtp_port'] = 25
      gitlab_rails['smtp_user_name'] = '${INITIAL_ADMIN_USER}@${LDAP_DOMAIN}'
      gitlab_rails['smtp_password'] = '${INITIAL_ADMIN_PASSWORD_PLAIN}'
      gitlab_rails['smtp_domain'] = '${SMTP_DOMAIN}'
      gitlab_rails['smtp_authentication'] = 'login'
      gitlab_rails['smtp_enable_starttls_auto'] = true
      gitlab_rails['smtp_openssl_verify_mode'] = 'peer'
      gitlab_rails['ldap_enabled'] = true
      gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
        main:
          label: 'LDAP'
          host: ldap
          port: 389
          uid: 'uid'
          method: 'plain'
          bind_dn: 'cn=admin,${LDAP_FULL_DOMAIN}'
          password: '${LDAP_PWD}'
          active_directory: false
          allow_username_or_email_login: false
          block_auto_created_users: false
          base: '${LDAP_FULL_DOMAIN}'
      EOS
      
mail-server:
  image: tvial/docker-mailserver:v2
  hostname: mail-server
  domainname: "${SMTP_DOMAIN}"
  net: "${CUSTOM_NETWORK_NAME}"
  restart: "always"
  container_name: mail-server
  ports:
  # Because port 25 may already be running on your host..
    - "9025:25"
    - "143:143"
    - "587:587"
    - "993:993"
  volumes:
    - maildata:/var/mail
    - ../../mail-config/:/tmp/docker-mailserver/

ldap:
  container_name: ldap
  restart: always
  #build: ../images/docker-ldap/
  image: accenture/adop-ldap:0.1.3
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "389"
  ports:
    - "389:389/tcp"
  environment:
    INITIAL_ADMIN_USER: ${INITIAL_ADMIN_USER}
    INITIAL_ADMIN_PASSWORD: ${INITIAL_ADMIN_PASSWORD}
    JENKINS_PLATFORM_USERNAME: ${JENKINS_PLATFORM_USERNAME}
    JENKINS_PASSWORD: ${JENKINS_PWD}
    GERRIT_PLATFORM_USERNAME: ${GERRIT_PLATFORM_USERNAME}
    GERRIT_PASSWORD: ${GERRIT_PWD}
    SLAPD_PASSWORD: ${LDAP_PWD}
    SLAPD_DOMAIN: ${LDAP_DOMAIN}
    SLAPD_FULL_DOMAIN: ${LDAP_FULL_DOMAIN}

gerrit-mysql:
  container_name: gerrit-mysql
  restart: always
  image: mysql:5.6.25
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "3306"
  environment:
    MYSQL_ROOT_PASSWORD: ${PASSWORD_SQL}
    MYSQL_USER: ${GERRIT_MYSQL_USER}
    MYSQL_PASSWORD: ${GERRIT_MYSQL_PASSWORD}
    MYSQL_DATABASE: ${GERRIT_MYSQL_DATABASE}

gerrit:
  container_name: gerrit
  restart: always
  #build: ../images/docker-gerrit/
  image: accenture/adop-gerrit:0.1.3
  privileged: true
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "8080"
    - "29418"
  environment:
    - "dependency:container==gerrit-mysql"
    - "REPO_PATH=/var/git/repos"
    - "WEBURL=${PROTO}://${TARGET_HOST}/gerrit/"
    - "DATABASE_TYPE=mysql"
    - "DB_HOSTNAME=gerrit-mysql"
    - "DB_PORT=3306"
    - "DB_NAME=${GERRIT_MYSQL_DATABASE}"
    - "DB_USER=${GERRIT_MYSQL_USER}"
    - "DB_PASSWORD=${GERRIT_MYSQL_PASSWORD}"
    - "AUTH_LOGOUTURL=${PROTO}://${TARGET_HOST}/gerrit/"
    - "AUTH_TYPE=LDAP"
    - "GERRIT_PASSWORD=${PASSWORD_GERRIT}"
    - "JENKINS_PASSWORD=${PASSWORD_JENKINS}"
    - "INITIAL_ADMIN_USER=${INITIAL_ADMIN_USER}"
    - "INITIAL_ADMIN_PASSWORD=${INITIAL_ADMIN_PASSWORD_PLAIN}"
    - "LDAP_SERVER=${LDAP_SERVER}"
    - "LDAP_ACCOUNTBASE=${LDAP_FULL_DOMAIN}"
    - "LDAP_ACCOUNTPATTERN=${LDAP_ACCOUNTPATTERN}"
    - "LDAP_ACCOUNTFULLNAME=${LDAP_ACCOUNTFULLNAME}"
    - "LDAP_ACCOUNTEMAILADDRESS=mail"
    - "LDAP_USERNAME=${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    - "LDAP_PASSWORD=${LDAP_PWD}"
    - "LDAP_GROUPBASE=${LDAP_GROUP_BASE_DN},${LDAP_FULL_DOMAIN}"
    - "LDAP_GROUPPATTERN=${LDAP_GROUPPATTERN}"
    - "LDAP_GROUPMEMBERPATTERN=${LDAP_GROUPMEMBERPATTERN}"
    - "HTTPD_LISTENURL=proxy-${PROTO}://0.0.0.0:8080/gerrit"
    - "USER_NAME=${GERRIT_USER_NAME}"
    - "USER_EMAIL=${GERRIT_USER_EMAIL}"
    - "DOWNLOAD_SCHEME=http"

sonar-mysql:
  container_name: sonar-mysql
  restart: always
  image: mysql:5.6.25
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "3306"
  environment:
    MYSQL_ROOT_PASSWORD: ${PASSWORD_SQL}
    MYSQL_USER: ${SONAR_MYSQL_USER}
    MYSQL_PASSWORD: ${SONAR_MYSQL_PASSWORD}
    MYSQL_DATABASE: ${SONAR_MYSQL_DATABASE}

sonar:
  container_name: sonar
  restart: always
  image: deangodfree/adop-sonar:latest
  #build: ../images/docker-sonar/
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "9000"
  environment:
    - "dependency:container==sonar-mysql"
    - "SONARQUBE_JDBC_USERNAME=${SONAR_MYSQL_USER}"
    - "SONARQUBE_JDBC_PASSWORD=${SONAR_MYSQL_PASSWORD}"
    - "LDAP_URL=ldap://${LDAP_SERVER}"
    - "LDAP_BIND_DN=${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    - "LDAP_BIND_PASSWORD=${LDAP_PWD}"
    - "LDAP_USER_BASE_DN=${LDAP_USER_BASE_DN},${LDAP_FULL_DOMAIN}"
    - "LDAP_USER_REQUEST=(&(objectClass=inetOrgPerson)(uid={login}))"
    - "LDAP_USER_REAL_NAME_ATTRIBUTE=displayName"
    - "LDAP_USER_EMAIL_ATTRIBUTE=mail"
    - "LDAP_GROUP_BASE_DN=${LDAP_GROUP_BASE_DN},${LDAP_FULL_DOMAIN}"
    - "LDAP_GROUP_REQUEST=(&(objectClass=groupOfUniqueNames)(uniqueMember={dn}))"
    - "LDAP_GROUP_ID_ATTRIBUTE=cn"
    - "SONARQUBE_JDBC_URL=jdbc:mysql://sonar-mysql:3306/${SONAR_MYSQL_DATABASE}?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true"

jenkins:
  container_name: jenkins
  restart: always
  image: deangodfree/adop-jenkins:latest
  #build: ../images/docker-jenkins/
  net: ${CUSTOM_NETWORK_NAME}
  ports:
    - "50000:50000/tcp"
  expose:
    - "8080"
    - "50000"
  privileged: true
  environment:
  # Passwords Pairs used in the maskpassword.groovy in init.groovy.d
    JENKINS_MASK_PASSWORD_VARS: "SONAR_ACCOUNT_PASSWORD,LDAP_MANAGER_PASSWORD,INITIAL_ADMIN_PASSWORD,GERRIT_JENKINS_PASSWORD,CREDENTIALS_LDAP_SERVICE_USER_PASSWORD"
  # MASKPASSWORD: ""
    JENKINS_OPTS: "--prefix=/jenkins"
    ROOT_URL: "${PROTO}://${TARGET_HOST}/jenkins/"
    LDAP_SERVER: "${LDAP_SERVER}"
    LDAP_ROOTDN: "${LDAP_FULL_DOMAIN}"
    LDAP_USER_SEARCH_BASE: "${LDAP_USER_BASE_DN}"
    LDAP_USER_SEARCH: "${LDAP_USER_SEARCH}"
    LDAP_GROUP_SEARCH_BASE: "${LDAP_GROUP_BASE_DN}"
    LDAP_GROUP_SEARCH_FILTER: ""
    LDAP_GROUP_MEMBERSHIP_FILTER: ""
    LDAP_MANAGER_DN: "${LDAP_MANAGER_DN}"
    LDAP_MANAGER_PASSWORD: ${LDAP_PWD}
    LDAP_INHIBIT_INFER_ROOTDN: "false"
    LDAP_DISABLE_MAIL_ADDRESS_RESOLVER: "false"
    LDAP_DISPLAY_NAME_ATTRIBUTE_NAME: "displayName"
    LDAP_MAIL_ADDRESS_ATTRIBUTE_NAME: "mail"
    LDAP_GROUP_NAME_ADMIN: "${LDAP_GROUP_NAME_ADMIN}"
    INITIAL_ADMIN_USER: ${INITIAL_ADMIN_USER}
    INITIAL_ADMIN_PASSWORD: ${INITIAL_ADMIN_PASSWORD_PLAIN}
    GERRIT_HOST_NAME: "gerrit"
    GERRIT_FRONT_END_URL: "http://gerrit:8080/gerrit"
    GERRIT_JENKINS_USERNAME: "${GERRIT_JENKINS_USERNAME}"
    GERRIT_JENKINS_PASSWORD: ${PASSWORD_JENKINS}
    SONAR_SERVER_URL: "http://sonar:9000/sonar/"
    SONAR_ACCOUNT_LOGIN: ${SONAR_ACCOUNT_LOGIN}
    SONAR_ACCOUNT_PASSWORD: ${PASSWORD_JENKINS}
    SONAR_DB_URL: "jdbc:mysql://sonar-mysql:3306/sonar?useUnicode=true&amp;characterEncoding=utf8"
    SONAR_DB_LOGIN: ${SONAR_DB_LOGIN}
    SONAR_DB_PASSWORD: ${SONAR_DB_PASSWORD}
    SONAR_PLUGIN_VERSION: ""
    SONAR_ADDITIONAL_PROPS: ""
    SONAR_SCANNER_VERSION: "3.0.3.778"
    ANT_VERSION: "1.10.2"
    MAVEN_VERSION: "3.5.2"
    NODEJS_VERSION: "9.5.0"
    NODEJS_GLOBAL_PACKAGES: "grunt-cli@~1.2.0 bower@~1.8.2 plato@~1.7.0"
    NODEJS_PACKAGES_REFRESH_HOURS: "72"
    GIT_GLOBAL_CONFIG_NAME: "ADOP Jenkins"
    GROOVY_VERSION: "2.4.9"
    GRADLE_VERSION: "2.4.9"
    GIT_GLOBAL_CONFIG_EMAIL: "jenkins@${LDAP_DOMAIN}"
    DOCKER_TLS_VERIFY: ${DOCKER_TLS_VERIFY}
    DOCKER_HOST: ${DOCKER_HOST}
    DOCKER_CLIENT_CERT_PATH: ${DOCKER_CLIENT_CERT_PATH}
    DOCKER_NETWORK_NAME: ${CUSTOM_NETWORK_NAME}
    CARTRIDGE_SOURCES: ${CARTRIDGE_SOURCES}
    JENKINS_SHARED_LIBRARY: "ssh://git@innersource.accenture.com/gskdo/jenkins-pipeline-libs.git"
    AEM_SHARED_LIBRARY: "ssh://git@innersource.accenture.com/gskdo/aem-pipeline-libs.git"
    ADOP_GERRIT_ENABLED: "false"
    ADOP_GITLAB_ENABLED: "true"
    GIT_REPO: "gitlab"
    GITLAB_FRONT_END_URL: "http://gitlab/gitlab"
    GITLAB_JENKINS_USERNAME: "jenkins"
    GITLAB_JENKINS_PASSWORD: ${PASSWORD_JENKINS}
    GITLAB_ROOT_PASSWORD: ${PASSWORD_GITLAB}

jenkins-slave:
  container_name: jenkins-slave
  restart: always
  image: deangodfree/adop-jenkins-slave:latest
  net: ${CUSTOM_NETWORK_NAME}
  privileged: true
  environment:
    SLAVE_LABELS: "aws ldap java8 docker terraform tower"
    SWARM_PASSWORD: ${PASSWORD_JENKINS}
    SLAVE_EXECUTORS: ${SLAVE_EXECUTORS}
    INITIAL_ADMIN_USER: ${INITIAL_ADMIN_USER}
    INITIAL_ADMIN_PASSWORD: ${INITIAL_ADMIN_PASSWORD_PLAIN}
    PASSWORD_GITLAB: ${PASSWORD_GITLAB}

selenium-hub:
  container_name: selenium-hub
  restart: always
  image: selenium/hub:2.53.0
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "4444"

selenium-node-chrome:
  container_name: selenium-node-chrome
  restart: always
  image: selenium/node-chrome:2.53.0
  net: ${CUSTOM_NETWORK_NAME}
  environment:
    SE_OPTS: "-nodeConfig /var/selenium-config/config-chrome.json"
    REMOTE_HOST: "http://selenium-node-chrome:5555"
    HUB_PORT_4444_TCP_ADDR: "selenium-hub"
    HUB_PORT_4444_TCP_PORT: "4444"

selenium-node-firefox:
  container_name: selenium-node-firefox
  restart: always
  image: selenium/node-firefox:2.53.0
  net: ${CUSTOM_NETWORK_NAME}
  environment:
    SE_OPTS: "-nodeConfig /var/selenium-config/config-firefox.json"
    REMOTE_HOST: "http://selenium-node-firefox:5555"
    HUB_PORT_4444_TCP_ADDR: "selenium-hub"
    HUB_PORT_4444_TCP_PORT: "4444"
   
nexus:
  container_name: nexus
  restart: always
  image: deangodfree/adop-nexus:latest
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "8081"
  environment:
    NEXUS_BASE_URL: "${PROTO}://${TARGET_HOST}/nexus"
    LDAP_SEARCH_BASE: "${LDAP_FULL_DOMAIN}"
    LDAP_ENABLED: "true"
    LDAP_URL: "ldap"
    LDAP_BIND_DN: "${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    LDAP_USER_PASSWORD_ATTRIBUTE: "userPassword"
    LDAP_USER_BASE_DN: ${LDAP_USER_BASE_DN}
    LDAP_GROUP_BASE_DN: ${LDAP_GROUP_BASE_DN}
    LDAP_BIND_PASSWORD: ${LDAP_PWD}
    LDAP_NAME: "nexus"
    LDAP_AUTH: "simple"
    NEXUS_SONATYPE: "/opt/sonatype/nexus"
    NEXUS_CONTEXT: "nexus"
    NEXUS_ADMIN_PASSWORD: ${INITIAL_ADMIN_PASSWORD_PLAIN}
    AEM_ENABLED: "true"

ldap-ltb:
  container_name: ldap-ltb
  restart: always
  image: accenture/adop-ldap-ltb:0.1.0
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "80"
  environment:
    LDAP_LTB_URL: "ldap://${LDAP_SERVER}"
    LDAP_LTB_DN: "${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    LDAP_LTB_PWD: "${LDAP_PWD}"
    LDAP_LTB_BS: "${LDAP_FULL_DOMAIN}"

ldap-phpadmin:
  container_name: ldap-phpadmin
  restart: always
  image: accenture/adop-ldap-phpadmin:0.1.0
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "80"
  environment:
    LDAP_SERVER_NAME: "LDAP"
    LDAP_SERVER_HOST: "ldap"
    LDAP_SERVER_PORT: "389"
    LDAP_SERVER_BIND_ID: "${LDAP_ADMIN},${LDAP_FULL_DOMAIN}"
    LDAP_SERVER_BASE_DN: "${LDAP_FULL_DOMAIN}"

registry:
  container_name: registry
  restart: always
  image: registry:2.5.1
  net: ${CUSTOM_NETWORK_NAME}
  expose:
    - "5000"
  environment:
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    REGISTRY_HTTP_TLS_CERTIFICATE: /certs/registry/fullchain.pem
    REGISTRY_HTTP_TLS_KEY: /certs/registry/privkey.pem
