# volumes:
#     prometheus_data: {}
#     grafana_data: {}

prometheus:
  image: prom/prometheus:v2.2.0-rc.0
  container_name: prometheus
  volumes:
    - ./prometheus/:/etc/prometheus/
    - prometheus_data:/prometheus
  command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--storage.tsdb.path=/prometheus'
    - '--web.console.libraries=/etc/prometheus/console_libraries'
    - '--web.console.templates=/etc/prometheus/consoles'
    - '--storage.tsdb.retention=200h'
    - '--web.enable-lifecycle'
  # restart: unless-stopped
  expose:
    - 9090
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"

alertmanager:
  image: prom/alertmanager:v0.14.0
  container_name: alertmanager
  volumes: 
    - ./alertmanager/:/etc/alertmanager/
  command:
    - '--config.file=/etc/alertmanager/config.yml'
    - '--storage.path=/alertmanager'
  restart: unless-stopped
  expose:
    - 9093
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"

nodeexporter:
  image: prom/node-exporter:v0.15.2
  container_name: nodeexporter
  user: root
  privileged: true
  volumes:
    - /proc:/host/proc:ro
    - /sys:/host/sys:ro
    - /:/rootfs:ro
  command:
    - '--path.procfs=/host/proc'
    - '--path.sysfs=/host/sys'
    - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
  restart: unless-stopped
  expose:
    - 9100
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"

cadvisor:
  image: google/cadvisor:v0.28.3
  container_name: cadvisor
  volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro
    #- /cgroup:/cgroup:ro #doesn't work on MacOS only for Linux
  restart: unless-stopped
  expose:
    - 8080
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"

grafana:
  image: deangodfree/adop-grafana:latest
  container_name: grafana
  environment:
    - GF_SECURITY_ADMIN_USER=${INITIAL_ADMIN_USER}
    - GF_SECURITY_ADMIN_PASSWORD=${INITIAL_ADMIN_PASSWORD_PLAIN}
    - GF_USERS_ALLOW_SIGN_UP=false
    - LDAP_HOST="${LDAP_HOST}"
    - LDAP_PORT="${LDAP_PORT}"
    - LDAP_SSL="false"
    - LDAP_TLS="false"
    - LDAP_SKIP_CERT_VERIFY="false"
    - LDAP_CERT_PATH="/path/to/certificate.crt"
    - LDAP_MANAGER_DN="${LDAP_MANAGER_DN}"
    - LDAP_MANAGER_PASSWORD=${LDAP_PWD}
    - LDAP_USER_SEARCH="${LDAP_USER_SEARCH}"
    - LDAP_ROOTDN="${LDAP_FULL_DOMAIN}"
    - LDAP_MAIL_ADDRESS_ATTRIBUTE_NAME="mail"
    - LDAP_ADMIN_GROUP_DN="cn=administrators,ou=groups,dc=ldap,dc=example,dc=com"
    - LDAP_USER_GROUP_DN="cn=sonar-users,ou=groups,dc=ldap,dc=example,dc=com"
  restart: unless-stopped
  expose:
    - 3000
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"

caddy:
  image: stefanprodan/caddy
  container_name: caddy
  ports:
    - "3000:3000"
    - "9090:9090"
    - "9093:9093"
  volumes:
    - ./caddy/:/etc/caddy/
  environment:
         - ADMIN_USER=admin
         - ADMIN_PASSWORD=admin
  restart: unless-stopped
  net: ${CUSTOM_NETWORK_NAME}
  labels:
    org.label-schema.group: "monitoring"
